@import "./search";
@import "./rating";

.app {
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
  &__error {
    margin-left: 10px;
    color: red;
    font-size: 20px;
  }
}

.genre {
  &__comma:empty {
    display: none;
  }

  &__comma:not(:first-child):before {
    content: ", ";
  }
}

.cover {
  margin: 10px;
  float: left;
  max-width: 30%;
  &__img {
    height: 430px;
    max-width: 300px;
  }
}

.info {
  max-width: 70%;
}

.movie-details {
  height: 460px;
  border: 1px solid black;
}
